*,
*::after,
*::before {
    box-sizing: border-box;
}
.container {
    max-width: 1025px;
    margin: 0 auto;

}
.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

body {
    background-image: url("../images/background 1.png");
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.logo {
    display: flex;
    margin-top: 51px;
}

.logo-image {
    display: flex;
    margin-top: 51px;
    margin-left: 40px;
    width: 53px;
    height: 47px;
    background-image: url("../images/logo 1.png");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo:hover .logo-image{
    background-image: url("../images/logo 2.png");
}

.logo-text {
    display: flex;
    text-decoration: none;
}

.logo-text-link {
    display: flex;
    margin-top: 51px;
    flex-direction: column;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 29px;
    padding-left: 8px;
}

.logo-text-link span {
    font-size: 18px;
}

.logo:hover .logo-text-link {
    color: #F26522;
}

.contacts {
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 18px;
}

.contacts:hover .contacts-email {
    color: #F26522;
    margin-top: 51px;

}

.contacts:hover .contacts-phone {
    color: #F26522;
}

.contacts-email {
    text-decoration: none;
    color: #FFFFFF;
    padding-bottom: 19px;
    margin-top: 51px;
}

.contacts-phone {
    text-decoration: none;
    color: #FFFFFF;
}

.images-items {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 220px);
    column-gap: 61px;
    row-gap: 78px;
}

.images-item {
    position: relative;
}

.images-item-image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-style: solid;
    border-left-width: 2px;
    border-right-width: 2px;
    border-image: linear-gradient(to bottom,white,black) 1 100%;
}

.images-item-information {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #F26522;
    text-decoration: none;
    transition: all 2s;
    opacity: 0;
}

.images-item:hover .images-item-information {
    opacity: 1;
}

.images-item:hover .images-item-text {
    color: #F26522;
}

.images-item-link {
    text-decoration: none;
}

.images-item-text {
    font-weight: 400;
    font-size: 18px;
    display: block;
    text-align: center;
    color: #FFFFFF;
    padding-top: 20px;
}

.images-item-information-1 {
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 16px;
    padding-top: 4px;
}

.images-item-info-text {
    padding-bottom: 8px;
    font-size: 10px;
    line-height: 10px;
}

.images-item-info-price {
    font-size: 20px;
    line-height: 20px;
}

.images-item-information-2 {
    display: flex;
    color: #FFFFFF;
    padding-right: 14px;
    padding-top: 29px;
}

.images-item-info-view {
    font-size: 14px;
    line-height: 14px;
}

.images-item-info-view::after {
    content: " > ";
    margin-right: 14px;
    margin-left: 16px;
}

.copy {
    display: block;
    text-align: center;
    font-size: 12px;
    margin-bottom: 15px;
    color: #FFFFFF;
    margin-top: 90px;
}
